* {
    padding: 0;
    margin: 0;
}

body{
    background: url("../img/bg-img2.jpg") repeat;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    display: row;
    background-color: #fff;
    opacity: 0.5;
    height: 70px;
    width: 100%;
    /*position: fixed; # Fixando a navbar na tela
    top: 0;*/
}

.ul-navbar {
    list-style-type: none;
    display: inline;
    overflow: hidden;
}

ul li {
    float: left;
    display: block;
    padding: 22px;
    text-align: center;   
    padding: 20px; 
}

li a {
    font-size: 18px;
    padding-right: 22px;
    text-decoration: none;
    color:rgb(14, 71, 145);
}

li a:hover {
    color:rgb(111, 154, 211);
}

table{
    border-collapse: collapse;
    width: 50vh;
    margin-left: 10%;
}

th, td{
    border: 1px solid #949393;
    text-align: center;
    padding: 5px;
}

th {
    background-color: rgb(14, 71, 145);
    color: white;
}

#td-white{
    background-color: white;
}
#td-gray{
    background-color: #dddddd;
}

.container {
    width: 80%;
    height: 65vh;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
}

form {
    margin: auto;
}

input {
    color:rgb(58, 58, 58);
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
}

input:hover {
    border: 2px solid rgb(38, 99, 180);
}

.input-txt {
    padding-left: 10px;
    width: 100%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
}

.input-txt:focus, .input-txt:hover {
    cursor: text;
}

.botoes {
    display: flex;
    float: right;
    margin-top: 20px;
}

.btn-default {
    display: block;
    text-align: center;
    align-content: center;
    width: 120px;
    height: 40px;
    background-color: rgb(247, 247, 247);
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
    transition: all 0.3s;
    margin: 5px;
    border-radius: 5px;
    color: rgb(38, 99, 180);
    border: 1px solid rgb(38, 99, 180);
}

.btn-default:hover {
    transform: scale(1.1);
}

.btn-sucess {
    background-color: rgb(38, 99, 180);
    color: white;
}

.message {
    margin-top: 230px;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
    opacity: 0.9;
}

.partida {
    margin-top: 100px;
}

.message-sucess {
    background-color: rgb(64, 204, 64);
    color: rgb(17, 71, 17);
}

.message-error {
    background-color: rgb(212, 46, 46);
    color: rgb(59, 7, 7);
}

.div-select {
    display: flex;
    flex-direction: row;
    /*background-color: red;*/
    flex-wrap: wrap;
    line-height: 2.4;
    min-width: 200px;
}

input, select, option{
    cursor: pointer;
}

select {
    color:rgb(58, 58, 58);
    border: 2px solid white;;
    height: 50px;
    width: 30%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
    background-color: white;
    min-width: 150px;
}

select:hover {
    border: 2px solid rgb(38, 99, 180);
}

select option {
    background-color: white;
}

span {
    font-size: 30px;
}

#form-partida {
    margin-top: 15px;
}

.data-horario {
    margin-top: 40px;
    height: 100px;
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

#data, #horario{
    display: flex;
    flex-direction: column;
}

#horario {
    margin-left: 50px;
}

@media (max-width: 600px){

    .navbar {
        display: column;
        /*background-color: rgb(118, 162, 219);
        color: rgb(12, 54, 109);*/
        height: 200px;
        align-items: center;
        width: 100%;
    }

    li a {
        font-size: 18px;
    }

    ul li {
        width: 100%;
        padding: 15px;
    }

    .btn-default {
        width: 110px;
        height: 40px;
    }
}

